<application>
  <component name="MybatisBuilder.application.config">
    <option name="accessToken" value="eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MjA4OTkzNzcsInN0YXRlIjoie1wicHJpbmNpcGFsXCI6XCIzY2UzZjMwOC0wYzVjLTQzZjEtYjZiZi0yODUzNzI1MDY4ODRcIixcInNlY3JldEtleVwiOlwiMWU0M2Y3NWMxZWQ3NDYxZmFhNzEzNDU2YWQ3YzA4YThcIn0ifQ.fKdoNLbNyQ2TMh0rcauwS8vqJrr6E47TJC-7gBtR8oE" />
    <option name="deviceId" value="3ce3f308-0c5c-43f1-b6bf-285372506884" />
    <option name="refreshToken" value="9ca52e603a7a463abd54ed954b22e8ad" />
  </component>
</application>